{% extends 'profiles/base.html' %} 

{% load static %}

{% load thumbnail %}
{% block content %}



<body>

  

  <main id="main" dir="rtl">
  
    <div class="container">
		<div class="main-body">
			<div class="row">
                
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<a href="{{ clde.user.Profileimg.url }}" class="lightbox">
									{% thumbnail clde.user.Profileimg 80x80 crop="smart" as im %}
									<img src="{{ im.url }}"   class="rounded-circle p-1 bg-primary" width="110"    >
									</a>
								
								
								
								<div class="mt-3">
									<h4>{{ clde.user.first_name }}  {{ clde.user.last_name }}</h4>
									<p class="text-muted font-size-sm">{{ clde.user.nationality }}</p>
{% comment %} 										<form action="" method="POST">
											{% csrf_token %}
											<input type="hidden" name="followed" value="{{user.username}}" readonly/>
											<input type="hidden" name="follow_by" value="{{current_user}}">
                                    		<input type="hidden" name="value" value="follow">
										
										</form> {% endcomment %}




										{% if following %}
										<a class="btn btn-primary text-decoration-none" href="{% url 'accounts:follow_or_unfollow_user' clde.slug %}"> الغاء متابعة</a>
										{% else %}
										<a class="btn btn-primary text-decoration-none" href="{% url 'accounts:follow_or_unfollow_user' clde.slug %}"> متابعة</a>
										{% endif %}
									


                                    <a type="submit" class="btn btn-outline-primary" href="{% url 'createchat' clde.user.id %}">مراسله</a>
									<hr class="my-4">
									<p class="text-muted font-size-sm">التقييم</p>



									
									{% if ratee1.submit == True %}
									<div class="progress mb-3" style="height: 5px">
										<div class="progress-bar bg-warning" role="progressbar" style="width:  {{ ratee2.avg_rating }}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="5"></div>
									</div>


									
									{% else %}									
											<form method='POST' action="" >
												{% csrf_token %}
												<div class="star">
													<input type="radio" name="rate" value="1000"  >
													<input type="radio" name="rate" value="80" >
													<input type="radio" name="rate" value="60" >
													<input type="radio" name="rate" value="40" >
													<input type="radio" name="rate" value="20" >
												</div>
												<button class="btn btn-outline-warning btn-sm" type="submit">rate</button>
											</form>
									{% endif %}





                    <h5 class="notes">يتابع  <span class="notesN"> :{{	following5.count }}</span></h5> 
									  <h5 class="notes">المتابعون  <span class="notesN"> : {{follow.count}}</span></h5> 
									  <h5 class="notes">المنشورات  <span class="notesN"> : {{client_postcount}}</span></h5> 
								</div>
							</div>
						
			
						</div>
					</div>
				</div>
                
				<div class="col-lg-8">
					<div class="card">
					
					</div>

                    <div class="row" id="about">
						{% for cp in clientposts %}
							<div class="col-m-12">
								<div class="card">
									<div class="card-body">
										<h5 class="d-flex align-items-center mb-3"> </h5>
										<p>{{cp.content}}</p>
									</div>
								</div>

							</div>
						{% endfor %}
                    </div>

					
				</div>
			</div>
		</div>
	</div>



  </main><!-- End #main -->

</body>

{% endblock content %}