{% extends 'home/base.html' %} 
{% load static %}
{% load thumbnail %}
{% block title %} خطا {% endblock %}


{% block content %}

  <main id="main" class="main" dir="rtl">

    <!-- ======= projects Section ======= -->
    <section id="projects" class="section-with-bg">

      <div class="container" data-aos="fade-up">
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>خطا</h2>
            <h3>لا تملك صلاحيه </h3>
          </div>
        
          
          

        

      </div>

    </section><!-- End Hotels Section -->

  </main><!-- End #main -->

{% endblock content %}