{% extends 'home/base2.html' %} 
{% load static %}

{% block title %} تواصل معنا {% endblock %}


{% block content %}

  <main id="main" dir="rtl">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>تواصل معنا</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 mt-4 mt-md-0">
          <form action="" method="POST" role="form" class="php-email-form">
            {% csrf_token %} 
            {% if user.is_authenticated %}


              {% else %}
                <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="اسمك بالكامل" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder=" البريد الالكتروني" required>
                    </div>
                  </div>
               {% endif %} 
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="العنوان" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="الرسالة" required></textarea>
            </div>

            <div class="text-center"><button type="submit"> إرسال الرسالة</button></div>
          </form>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
              
            
              {% endfor %}
          </ul>

          {% endif %}




        </div>
        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3> البريد الالكتروني</h3>
                <p>info@example.com</p>
              </div>
            </div>
          
            <div class="col-md-12">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>اتصل بنا</h3>
                <p dir="ltr">0 777 5000  </p>
              </div>
            </div>
          </div>

        </div>

        

      </div>

    </div>
  </section><!-- End Contact Section -->
  </main><!-- End #main -->
{% endblock content %}


