{% extends 'accounts/base.html' %} 

{% load static %}

{% block content %}



  
  <main id="main">
    
    <section class="h-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img
                      src="{%static 'img/signup-bg.png'%}"
                      alt="Sample photo"
                      class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                    />
                  </div>


                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                      <h1 class="d-flex justify-content-center f1">إنشاء حساب الفريلانسر</h1> <br>    
                    
                    
                    
                    
                    
                    
                      <form  method="POST" >
                        {% csrf_token %}

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1m">الاسم الاول</label>
                            <input type="text" id="form3Example1m" name="firstname" class="form-control form-control-lg" />
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1n">اسم العائلة</label>
                            <input type="text" id="form3Example1n" name="lastname" class="form-control form-control-lg" />
                          </div>
                        </div>
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example97">البريد الالكتروني</label>
                        <input type="email" id="form3Example97" name="email" class="form-control form-control-lg" />
                      </div>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1m1">الرقم السري</label>
                            <input type="password" id="form3Example1m1" name="password" class="form-control form-control-lg" />
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1m1">تأكيد الرقم السري</label>
                            <input type="password" id="form3Example1n1" name="password2" class="form-control form-control-lg" />
                          </div>
                        </div>
                      </div>

                      <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
      
                        <h6 class="mb-0 me-4 tit">الجنس :  </h6> <br>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="femaleGender"
                            value="female"
                          />
                          <label class="form-check-label" for="femaleGender">أنثى</label>
                        </div>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input
                            class="form-check-input "
                            type="radio"
                            name="inlineRadioOptions"
                            id="maleGender"
                            value="male"
                          />
                          <label class="form-check-label" for="maleGender">ذكر</label>
                        </div>
      
      
                      </div>
      
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example8">الجنسية</label>
                        <select id="form3Example8" name="nationality" class="form-control form-control-lg">
                          <option selected>مصري</option>
                          <option>صومالي</option> <option>فلسطيني</option><option>ليبي</option>
                          <option>اردني</option> <option>جيبوتي</option><option>قطري</option>
                          <option>سوداني</option><option>سوري</option><option>بحرني</option>
                          <option>سعودي</option><option>لبناني</option><option>كويتي</option>
                          <option>اماراتي</option><option>مغربي</option><option>موريتاني</option>
                          <option>جزائري</option><option>عماني</option><option>عراقي</option>
                          <option>يمني</option><option>تونسي</option><option>اخري</option>                         
                        </select>
                      </div>  
      
                
      
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example9">رقم الحساب البنكي</label>
                        <input type="tel" id="form3Example9" name="banckacc" class="form-control form-control-lg" maxlength="14" />
                      </div>
      
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example90">تاريخ الميلاد</label>
                        <input type="date" id="form3Example90" name="date" class="form-control form-control-lg" />
                      </div>
      
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example99">رقم الهاتف</label>
                        <input type="tel" id="form3Example99" name="phone_number" class="form-control form-control-lg" maxlength="11" />
                      </div>
      
                    
      
                      <div class="d-flex justify-content-center pt-3">
                        <button type="submit" class="btn btn-primary btn-lg ms-2"> إنشاء حساب</button>
                      </div>
                    </form>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div class="alert alert-primary" role="alert">
                          {{ message }}
                        </div>
                        
                      
                        {% endfor %}
                    </ul>
          
                    {% endif %} 







                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main><!-- End #main -->


{% endblock content %}

 