{% extends 'profiles/base.html' %} 

{% load static %}
{% load thumbnail %}

{% block content %}

<body>

  

  <main id="main" dir="rtl">
  
    <div class="container">
		<div class="main-body">
			<div class="row">
                
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<a href="{{ user.Profileimg.url }}" class="lightbox">
									{% thumbnail user.Profileimg 80x80 crop="smart" as im %}
									<img src="{{ im.url }}"   class="rounded-circle p-1 bg-primary" width="110"    >
									</a>
								<div class="mt-3">
									<h4>{{ user.first_name }}  {{ user.last_name }}</h4>
									<p class="text-muted font-size-sm">{{ user.nationality }}</p>
									<hr class="my-4">
                                    <h5 class="notes">:التقييم  </h5>
									<div class="progress mb-3" style="height: 5px">
										<div class="progress-bar bg-warning" role="progressbar" style="width: {{rat.avg_rating}}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="5"></div>
									</div>
									
                                    <h5 class="notes">تتابع  <span class="notesN"> : {{	following.count }}</span></h5> 
                                    <h5 class="notes">المتابعون  <span class="notesN"> :  {{follow.count}}</span></h5> 
                                    <h5 class="notes">المنشورات  <span class="notesN"> : {{client_postcount}}</span></h5> 

								</div>
							</div>
						
			
						</div>
					</div>
				</div>
                
				<div class="col-lg-8">
					<div class="card">
					
					</div>

                    <div class="row" id="about">
						{% for cp in clientpost %}
							<div class="col-m-12">
								<div class="card">
									<div class="card-body">
										<h5 class="d-flex align-items-center mb-3"> </h5>
										<p>{{cp.content}}</p>
									</div>
								</div>

							</div>
						{% endfor %}
                    </div>

					
				</div>
			</div>
		</div>
	</div>



  </main><!-- End #main -->






</body>

{% endblock content %}