{% extends 'orders/base.html' %} 
{% load static %}
{% block content %}



<body>

  

  <main id="main" dir="rtl">
  
    <div class="section-title" data-aos="fade-in" data-aos-delay="50">
        
        {% if forms.count  == 0 %}
            <p>لا يوجد عقود لعرضها</p>

        {% endif %}

    
    </div>
                
			
				


    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>اسم الفريلانسر</th>
            <th>العقد</th>
            <th> الاستلام</th>
            <th>الدفع</th>
            <th>المشروع</th>
          </tr>
        </thead>
        <tbody>
            {% for ff in forms %}  
            <tr>
                <td>
                <div class="d-flex align-items-center">
                    <img 
                        src="{{ff.sender.user.Profileimg.url}}"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                    <div class="ms-3">
                    <a class="fw-bold mb-1" href="{% url 'accounts:freelancerdetail' ff.sender.slug%}" >{{ff.sender.user.first_name}}  {{ff.sender.user.last_name}}</a>
                    <p class="text-muted mb-0">{{ff.sender.user.email}}</p>
                    </div>
                </div>
                </td>

                {% if ff.submit == True  %}
                <td>
                
                    <a href="{% url 'viewform' ff.id %}" >{{ff.ordername}}</a>
                    
                
                </td>
                {% else %}
                <td>
                
                    <a href="{% url 'viewform2' ff.id %}" >{{ff.ordername}}</a>
                    
                
                </td>
                {% endif %}












                {% if ff.confirm == True  %}
                <td>    
                    <a type="button" class="btn btn-outline-primary"> تم الاستلام</a>
                </td>
                {% else %}
                <td> 

                    <a type="button" class="btn btn-outline-danger">لم يستلم بعد</a>
                </td>   
                {% endif %}

                {% if ff.paid == True  %}
                <td>    
                    <a type="button" class="btn btn-outline-primary"> تم الدفع</a>
                </td>
                {% else %}
                        <td> 

                            <a type="button" class="btn btn-outline-danger">لم يدفع بعد</a>
                        </td>
                
                {% endif %}




                {% if ff.submit == True  %}
                <td>    
                    <a type="button" class="btn btn-outline-primary">تم تسليم الطلب</a>
                </td>
                {% else %}
                        <td> 

                            <a type="button" class="btn btn-outline-danger">قيد الانشاء</a>
                        </td>
                
                {% endif %}


            </tr>
            {% endfor %} 
        </tbody>
      </table>
      
    

    
 </main><!-- End #main -->
    
    </body>
    
    </html>
{% endblock content %}    